@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:wght@300;400;500&display=swap');

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: black;
  background-color: white;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  width: 100vw;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logoDiv {
  display: flex;
  gap: 20px;
  margin-left: 30px;
  color: #2c2f33;
}

.logo {
  height: 50px;
  width: 50px;
}

.navBar {
  display: flex;
  width: 22%;
  height: 100%;
  margin-right: 60px;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}

a {
  text-decoration: none;
  font-size: 18px;
  color: #aad2ff;
}

.line {
  width: 2px;
  height: 20px;
  background-color: #b6b7b8;
  margin-left: -10px;
  margin-right: -10px;
}

.active {
  text-decoration: underline;
  color: aqua;
}

.devider {
  background-color: #eaeaea;
  width: 96%;
  height: 1.5px;
  margin: auto;
}

.loading {
  font-size: 70px;
  margin: 13% 30% 0 40%;
  font-family: 'Shantell Sans', cursive;
  color: skyblue;
}

.rockets,
.all-animes {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
}

.rocket,
.anime {
  width: 90%;
  height: 400;
  display: flex;
  flex-direction: row;
  column-gap: 20px;
}

.rocketImage,
.animeImage {
  width: 240px;
  height: 380px;
  border-radius: 6px;
}

.data {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.reserve {
  padding: 0.4rem 0.5rem;
  background-color: #1383ff;
  border-radius: 4px;
  border: none;
  color: white;
  margin-top: 0.8rem;
  cursor: pointer;
  width: 180px;
  font-size: 18px;
  height: 40px;
}

.cancelReserve {
  height: 40px;
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: #9da3a8;
  border-radius: 5px;
  font-size: 18px;
  border-color: #9da3a8;
  cursor: pointer;
}

.reserved {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #18a2b8;
  border-radius: 5px;
  border: none;
  color: whitesmoke;
  margin-top: 0.8rem;
  cursor: pointer;
  height: 25px;
  width: 100px;
}

.myprofile {
  display: flex;
  border: 2px solid skyblue;
  column-gap: 100px;
  color: #45494c;
}

.rockets-title {
  margin-top: 25px;
  font-size: 30px;
}

.myRockets {
  width: 700px;
  height: 245px;
  border-radius: 5px;
  border: 1px solid #e8e8e8;
}

.rocketName {
  height: 60px;
  margin-left: 25px;
  display: flex;
  align-items: center;
}

.rocket-devider {
  border-bottom: 1px solid #e8e8e8;
}

td {
  border: 1px solid black;
  padding: 0.3rem;
}

#myprofile {
  display: flex;
  justify-content: space-evenly;
}

#myprofile-missions h2,
#myprofile-rockets h2,
#myprofile-animes h2 {
  padding: 1rem;
}

#myprofile-missions table,
#myprofile-rockets table,
#myprofile-animes table {
  padding: 1rem;
}

#missions {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1rem;
}

#missions p {
  margin-top: 0.5rem;
}

.mission-btn {
  padding: 0.4rem 0.5rem;
  background-color: #1383ff;
  border-radius: 4px;
  border: none;
  color: white;
  margin-top: 0.8rem;
  cursor: pointer;
}

.active-member {
  padding: 0.2rem 0.6rem;
  background-color: #38e54d;
  border-radius: 4px;
  border: none;
  color: white;
  font-size: 0.6rem;
}

.not-a-member {
  padding: 0.2rem 0.6rem;
  background-color: #272932;
  border-radius: 4px;
  border: none;
  color: white;
  font-size: 0.6rem;
}

#card {
  padding: 1rem;
  transition: all 0.3s;
}

#card:hover {
  border: 2px solid black;
  border-radius: 6px;
  transform: scale(0.95);
  animation: blink 0.4s;
}

.anime-btn {
  padding: 0.4rem 0.5rem;
  background-color: #1383ff;
  border-radius: 4px;
  border: none;
  color: white;
  margin-top: 0.8rem;
  cursor: pointer;
  width: 220px;
}

#anime-card:hover {
  border: 2px solid black;
  border-radius: 6px;
  transform: scale(0.95);
  animation: blink 0.4s;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.anime-reserve-btn {
  padding: 0.4rem 0.5rem;
  background-color: #1383ff;
  border-radius: 4px;
  border: none;
  color: white;
  text-align: center;
  cursor: pointer;
  width: 100px;
}

.anime-cancel-btn {
  padding: 0.4rem 0.5rem;
  background-color: #ff8d7d;
  border-radius: 4px;
  border: none;
  color: white;
  text-align: center;
  cursor: pointer;
  width: 100px;
}

.anime-reserve-btn:hover {
  background-color: rgb(0, 0, 255);
  border-radius: 4px;
  border: none;
  font-weight: 600;
  cursor: pointer;
  width: 100px;
}

.anime-cancel-btn:hover {
  background-color: rgb(255, 0, 0);
  border-radius: 4px;
  border: none;
  font-weight: 600;
  cursor: pointer;
  width: 100px;
}

.wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.anime-reserved {
  background-color: #4dff62;
  border-radius: 4px;
  border: none;
  color: white;
  text-align: center;
}